<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Lesson 29 HW 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FAD36B6D1C4688B3000A6C3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAD36B861C4688B3000A6C3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAD36B911C4688B3000A6C3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
